schemas/demo/biblio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.example.org/biblio"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.example.org/biblio">
    <xs:attribute name="mediaType" type="tns:Media"/>
    <xs:attribute name="storageLocation" type="xs:string"/>
    <xs:simpleType name="Media">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="BOOK"></xs:enumeration>
    		<xs:enumeration value="DVD"></xs:enumeration>
    		<xs:enumeration value="MAGAZINE"></xs:enumeration>
    	</xs:restriction>
    </xs:simpleType>
</xs:schema>